html,
body {
  margin: 0;
  padding: 0;
  background: rgb(32,32,32);
  color: white !important;
  font-family: 'Space Mono', monospace !important;
}

.logo{
  text-align: center;
}

canvas {
  display: block;
}

.container{
  margin-top: 80px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

#containsCanvas{
  border: 1px solid white;
}

.visualiser{
  margin-top: 100px;
  border: 1px solid white;
}

.artist_details img{
  width: 220px;
  height: 220px;
}


.allsongs_list{
  list-style-type: none;
  padding-left: 0 !important;
  font-style: italic;
}

.allsongs_list li:hover{
  cursor: pointer;
  font-weight: bolder;
  background-color: rgb(41, 200, 142);
  color: black;
}

.artist_details h6, .songs_container h6{
  color: rgb(200,119,39);
  font-weight: bolder !important;
}

.details p{
  color: rgb(221,221,38);
}

.allsongs_list li .time{
  float: right;
}